<!DOCTYPE html>

<style>

body { background-color: black; }

.left { margin-left: 32%}

label { color: dodgerblue; font-family: arial; font-size: larger;} 


.msg { color: white; font-family: arial; font-size: larger;} 

input { color: white; font-family: arial; font-size: larger;}

.a1 { margin-left: 20px;}


.a2 {  margin-top: 30px; margin-left: 460px; border-radius: 10px; padding-left: 25px; 
       padding-right: 25px; }


 

#center { margin-left: 28%; margin-top: 50px; }

.white { color: white; }

.m1 { margin-left: 02px; margin-top: 40px; }

.skyblue { color: skyblue; }

</style>
  

 <div class="container">

 <h1 class="left burleywood">Administrator Action</h1> 

 <form action="/actionresponse" accept-charset="UTF-8" method="post">
  
 
 <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: :form_token %> 

 <div id="center">

 <div class="form-group row">

    <div class="col-xs-2 a1">
         <label class="control-label" for="custId">Customer Id:</label>
         <br/><input class="form-control" type="text" name="custId" id="custId"> 
   </div>

   <div class="col-xs-2 a1">
        <label class="control-label" for="newId">New Customer Id:</label>
        <br/><input class="form-control" type="text" name="newId" id="newId">  
   </div> 

 </div>
  
 <div class="form-group row">

     <div class="col-xs-2 a1">
         <label class="control-label" for="custPassword">Password:</label>
         <br><input class="form-control" type="text" name="custPassword" id="custPassword"> 
     </div>

     <div class="col-xs-2 a1">
         <label class="control-label" for="conPassword">Confirm:</label>
         <br><input class="form-control" type="text" name="conPassword" id="conPassword">  
    </div>

</div>


</div> <!-- center -->

 <div class="form-group row">  
      <input class="btn-primary a2" type="submit" name="commit" value="List Customers">
 </div>

 
 <div class="form-group row">  
      <input class="btn-primary a2" type="submit" name="commit" value="Reset Customer">
 </div>

 
 <div class="form-group row">   
      <input class="btn-primary a2" type="submit" name="commit" value="Reset Password">  
</div>


 <div class="white form-group row">
      <label class="msg left label control-label"><%= @message %></label>
  </div>



</form>
 
  